body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Fuente para el resto del texto */
}

.minecraft-font {
    font-family: 'Minecraft', sans-serif; /* Fuente para los números */
}

#hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden; /* Evitar que el contenido se desborde */
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* Colocar el contenedor de fondo detrás del contenido */
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 1s ease-in-out; /* Transición suave entre imágenes */
}

.slide img {
    width: 100%; /* Asegurarse de que la imagen cubra todo el contenedor */
    height: 100%; /* Asegurarse de que la imagen cubra todo el contenedor */
    object-fit: cover; /* Ajustar la imagen para cubrir el área sin distorsionarse */
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Mayor opacidad negra para mejorar la visibilidad de las imágenes */
    z-index: 1; /* Colocar detrás del contenido */
}

h1 {
    font-size: 4em; /* Tamaño del título */
    color: white; /* Color blanco para el título */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra negra para el título */
    z-index: 2; /* Asegura que el título esté por encima del overlay */
    margin: 0; /* Asegurar que no haya márgenes que afecten la posición */
}

p {
    font-size: 1.5em; /* Tamaño del texto del evento */
    color: white; /* Color blanco para el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra negra solo para el texto especificado */
    z-index: 2; /* Asegura que el texto esté por encima del overlay */
    margin: 10px 0; /* Espacio entre párrafos */
}

.event-info {
    display: flex;
    justify-content: space-around; /* Espaciado entre las columnas */
    width: 75%; /* Ancho del contenedor de columnas */
    z-index: 2; /* Asegura que las columnas estén por encima del overlay */
    margin-top: 20px; /* Espacio entre el texto y las columnas */
}

.left-column,
.right-column {
    flex: 1; /* Ambas columnas ocuparán el mismo espacio */
    text-align: center; /* Centrar el texto dentro de las columnas */
}

.left-column {
    margin-right: 20px; /* Espacio entre las columnas */
}

.right-column {
    margin-left: 1px; /* Espacio entre las columnas */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente el contenido de la columna derecha */
}

.premio {
    font-family: 'Minecraft', sans-serif;
    text-transform: uppercase;
    color: #0785c7;
}

button {
    font-family: 'Minecraft', sans-serif;
    padding: 12px 24px; /* Aumentar el padding para un botón más grande */
    font-size: 1.5em; /* Tamaño de fuente */
    background-color: #0785c7; /* Color de fondo dorado */
    border: none; /* Sin borde */
    border-radius: 25px; /* Bordes redondeados para un efecto elegante */
    color: #ffffff; /* Color del texto negro */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    margin-top: 20px; /* Espacio encima del botón */
    transition: all 0.3s ease; /* Transiciones suaves para el hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra para un efecto elevado */
    z-index: 2; /* Asegura que el botón esté por encima del overlay */
}

button:hover {
    background-color: #0754c7; /* Color más oscuro al pasar el mouse */
    transform: translateY(-2px); /* Efecto de elevarse al pasar el mouse */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Sombra más pronunciada al pasar el mouse */
}

/* Código para el cambio de imágenes de fondo */
@keyframes fade {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

.slide {
    animation: fade 10s infinite; /* Cambia la duración de la animación como desees */
}

.slide:nth-child(2) {
    animation-delay: 5s; /* Retraso para el segundo slide */
}

/* SECCIÓN PARTICIPANTES  */
.participants {
    background-color: #0E131F;
    background-image: url(/images/background.png);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.card {
    width: 150px;
    height: 200px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card-front {
    font-size: 2rem;
    background-color: black;
    color: white;
}

.card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    flex-direction: column;
    text-align: center;
}

.card-back img {
    max-width: 80%;
    max-height: 80px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.card-back .minecraft-font:nth-child(2) { /* El segundo elemento (nombre) será amarillo */
    color: yellow;
}

/* Estilo de la fuente personalizada para nombre y número */
.minecraft-font {
    font-family: 'Minecraft', sans-serif;
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
    /* Ajustes en el hero */
    h1 {
        font-size: 3em; /* Reducir tamaño del título en pantallas pequeñas */
    }

    p {
        font-size: 1.2em; /* Reducir tamaño del texto del evento */
    }

    .event-info {
        flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
        align-items: center; /* Centrar contenido */
    }

    .left-column, .right-column {
        margin: 0; /* Eliminar márgenes laterales */
        width: 100%; /* Cada columna ocupa todo el ancho */
    }

    /* Ajustes en la sección de participantes */
    .participants {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajustar tarjetas a 120px como mínimo */
        padding: 10px; /* Reducir padding */
    }

    .card {
        width: 120px; /* Ajustar el ancho de las tarjetas */
        height: 180px; /* Ajustar altura de las tarjetas */
    }

    /* Ajustes en la sección de estudios */
    #studios {
        display: flex; /* Mantener flexbox */
        flex-wrap: wrap; /* Permitir que los logos se envuelvan */
        justify-content: center; /* Centrar los logos */
    }

    #studios img {
        width: 120px; /* Reducir tamaño de los logos */
        height: auto; /* Mantener la relación de aspecto */
    }

    #studios h2 {
        font-size: 1.5em; /* Ajustar tamaño del título de la sección */
    }
}

/* Responsivo para pantallas muy pequeñas (móviles) */
@media screen and (max-width: 480px) {
    h1 {
        font-size: 2.5em; /* Ajustar aún más el tamaño del título */
    }

    p {
        font-size: 1em; /* Ajustar el tamaño del texto del evento */
    }

    button {
        font-size: 1.2em; /* Ajustar tamaño de fuente del botón */
    }

    footer {
        font-size: 8px; /* Ajustar tamaño del texto en el footer */
    }

    .event-info {
        flex-direction: column; /* Apilar las columnas verticalmente */
        align-items: center; /* Centrar las columnas horizontalmente */
        width: 100%; /* Hacer que ocupe todo el ancho */
    }

    .left-column, .right-column {
        width: 100%; /* Asegurar que cada columna ocupe el 100% del ancho */
        text-align: center; /* Centrar el texto */
    }

    .left-column video {
        width: 80%; /* Asegurar que el video ocupe todo el ancho de la columna */
        height: auto; /* Mantener la relación de aspecto */
    }
}

/* SECCIÓN STUDIOS */
#studios {
    text-align: center;
    padding: 20px;
    background-color: black; /* Fondo negro para la sección de studios */
    display: flex; /* Cambiado a flex */
    flex-direction: column; /* Inicialmente en columna */
    align-items: center; /* Centrar elementos horizontalmente */
}

#studios h2 {
    color: white;
    margin-bottom: 20px;
}

/* Sección de logos: Cambiar el display a flex y alinearlos horizontalmente */
.logo-container {
    display: flex; /* Disposición horizontal para los logos */
    justify-content: center; /* Centrar los logos horizontalmente */
    flex-wrap: wrap; /* Permitir que los logos se envuelvan si es necesario */
}

/* Cada logo y su texto */
#studios div {
    text-align: center;
    margin: 10px; /* Espaciado entre los logos */
}

#studios img {
    width: 150px; /* Tamaño uniforme para todos los logos */
    margin: 10px 0; /* Margen superior e inferior */
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5)); /* Resaltar los logos */
}

#studios p {
    color: white; /* Color blanco para el texto */
    font-weight: bold; /* Texto en negrita */
    font-size: 1.2em; /* Tamaño de fuente atractivo */
    margin-top: 10px; /* Espacio entre el logo y el nombre del estudio */
}

/* Responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .logo-container {
        flex-direction: column; /* Apilar verticalmente en pantallas pequeñas */
        align-items: center; /* Centrar los logos en pantallas pequeñas */
    }

    #studios div {
        margin: 5px 0; /* Espaciado reducido para logos en pantallas pequeñas */
    }

    #studios img {
        width: 120px; /* Reducir tamaño de los logos en pantallas pequeñas */
    }
}

/* Responsivo para pantallas muy pequeñas (móviles) */
@media screen and (max-width: 480px) {
    #studios img {
        width: 100px; /* Ajustar aún más el tamaño de los logos */
    }
}



/* SECCIÓN FOOTER */
footer {
    text-align: center;
    font-size: 10px;
    padding: 10px;
    background-color: #0E131F; /* Color del fondo del footer */
    color: white; /* Color del texto en el footer */
}


